spring.application.name=carottecaseapi

server.port=9002


logging.level.root=error

logging.level.fr.afpa.codecaseapi=info

logging.level.org.springframework.data=INFO
logging.level.org.springframework.jdbc.core.JdbcTemplate=DEBUG

logging.level.org.springframework.boot.web.embedded.tomcat=INFO

spring.datasource.url=${MYSQL_URL:jdbc:mysql://localhost:3306/codecase}
spring.datasource.username=${MYSQL_USER:root}
spring.datasource.password=${MYSQL_PASSWORD:project}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect


spring.jpa.hibernate.ddl-auto=none

spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
